<h1> <%= current_user.username %>'s Songs (Index)</h1>

<ul>
<% @songs.each do |song| %>
	<li><%=link_to song.title, song_path(song) %></li>
	<% end %>

</ul>

<%= link_to "New Song", new_song_path %>